<h1>掲示板</h1>

<div>
	<% if user_signed_in? %>
		<hr>
		<p><%= link_to '新規スレッド作成', controller: :boards, action: :new %></p>
	<% else%>
		<hr>
		<p>新しいスレッドを作成するにはログインして下さい。</p>
	<% end%>
</div>

<hr>
<table>
  <thead>
    <tr>
      <th>スレッド名</th>
      <th>名前</th>
      <th>投稿日</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= link_to board.title, board %></td>
        <td><%= board.user.username %></td>
        <td><%= board.published %></td>
      </tr>
    <% end %>
  </tbody>
</table>

